.col-xs-12.col-sm-6
  div(style="margin-bottom: 10px; width: 100%; height: 250px; border: 1px solid black;")

.col-xs-12.col-sm-6
  form.form-horizontal(name="restaurant_info", role="form", novalidation)
    .row
      .form-group
        label.control-label.col-sm-2(for="name") Name
        .col-sm-10
          input.form-control(name="name", type="text", placeholder="Enter name", ng-model="restaurant.name", required)
    .row
      .form-group
        label.control-label.col-sm-2(for="email") Email
        .col-sm-10
          input.form-control(name="email", type="email", placeholder="Enter email", ng-model="restaurant._account.email", required)
    .row
      .btn.btn-lg.btn-primary.pull-right(ng-click='update()', type='submit', ng-disabled='restaurant_info.$invalid') Save

.row
  .row
    .col-xs-12.col-sm-offset-5
      h3 Add location
  .row
    .col-xs-12.col-sm-offset-2.col-sm-6
      form.form-horizontal(name="new_location_form", role="form" novalidation)
        .row
          .form-group
            label.control-label.col-sm-2(for="address") Address
            .col-sm-10
              input.form-control(name="address", type="text", placeholder="Enter address", ng-model="address", required)
        .row
          .form-group
            label.control-label.col-sm-2(for="city") City
            .col-sm-10
              input.form-control(name="city", type="text", placeholder="Enter city", ng-model="city", required)
        .row
          .form-group
            label.control-label.col-sm-2(for="state") State
            .col-sm-10
              input.form-control(name="state", type="text", placeholder="Enter state", ng-model="state", required)
        .row
          .form-group
            label.control-label.col-sm-2(for="zipcode") Zipcode
            .col-sm-10
              input.form-control(name="zipcode", type="text", placeholder="Enter zipcode", ng-model="zipcode", required)
        .row
          .form-group
            label.control-label.col-sm-2(for="telephone") Phone
            .col-sm-10
              input.form-control(name="telephone", type="text", placeholder="Enter phone", ng-model="telephone", required)
        .row
          .btn.btn-primary.pull-right(ng-click='addLocation()', type='submit', ng-disabled='new_location_form.$invalid') Save
.row
  .col-xs-12
    table.table
      thead
        tr
          th Address
          th City
          th State
          th Zipcode
          th Phone
      tbody(ng-repeat='location in restaurant._locations')
        tr
          td {{location.address}}
          td {{location.city}}
          td {{location.state}}
          td {{location.zipcode}}
          td {{location.telephone}}
          td
            button(tabindex='-1' type='button', ng-click='removeLocation(location._id)') Remove
