body{
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* ==========================================================================
Buttons
========================================================================== */
.success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.success:hover,
.success:focus,
.success.focus,
.success:active,
.success.active,
.open > .dropdown-toggle.success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.success:active,
.success.active,
.open > .dropdown-toggle.success {
  background-image: none;
}
.success.disabled,
.success[disabled],
fieldset[disabled] .success,
.success.disabled:hover,
.success[disabled]:hover,
fieldset[disabled] .success:hover,
.success.disabled:focus,
.success[disabled]:focus,
fieldset[disabled] .success:focus,
.success.disabled.focus,
.success[disabled].focus,
fieldset[disabled] .success.focus,
.success.disabled:active,
.success[disabled]:active,
fieldset[disabled] .success:active,
.success.disabled.active,
.success[disabled].active,
.success .badge {
  color: #5cb85c;
  background-color: #fff;
}
