.row
  include new
.row
  .col-sm-10.col-sm-offset-1
    table.table
      thead
        tr
          th Name
          th Address
          th Rating
      tbody(ng-repeat='restaurant in restaurants')
        tr
          td {{restaurant.name}}
          td {{restaurant.address}}
          td {{restaurant.rating}}
          td
            button(tabindex='-1' type='button', ng-click='remove(restaurant._id)') Remove
