.col-sm-10.col-sm-offset-1
  form(name='form' novalidation)
    .form-group
      input.form-control(autofocus, type='text', name='name', placeholder='name', ng-model='name', required)
    .form-group
      input.form-control(type='text', name='address', placeholder='address', ng-model='address', required)
    .form-group
      -for(var i = 0; i <= 5; i++){
        input(name='rating', type='radio', value=i, ng-model='rating', required)
      =i
      -}
    .form-group
      .btn.btn-lg.btn-success.pull-right(ng-click='create()', type='submit', ng-disabled='form.$invalid') Submit
