mixin link(name,hash)
  li
    a.btn(href=hash)= name

nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation' ng-controller="nav")
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Food App
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        +link('Home', '#')
        +link('Restaurants', '#restaurants')
        +link('Accounts', '#accounts')
    
      ul.nav.navbar-nav.pull-right(ng-hide="loggedIn")        
        +link('Login', '#login')
        +link('Register', '#accounts/register')          
      ul.nav.navbar-nav.pull-right(ng-show="loggedIn")
        +link('Logout', '/api/accounts/logout')
        li(ng-show="role == 'user'")
          a.btn.glyphicon.glyphicon-user(href="#accounts/users/profile", style="font-size: 32px; padding-top: 13px;")
        li(ng-show="role == 'restaurant'")
          a.btn.glyphicon.glyphicon-cutlery(href="#accounts/restaurants/profile", style="font-size: 32px; padding-top: 13px;")
        li(ng-show="role == 'default'")
          a.btn.glyphicon.glyphicon-user(href="#accounts/type", style="font-size: 32px; padding-top: 13px;")
