.col-xs-12
  form(name="form", novalidation)
    .row
      .input-group
        input.form-control(name="firstname", type="text", placeholder="First Name", ng-model="firstname")
      .input-group
        input.form-control(name="lastname", type="text", placeholder="Last Name", ng-model="lastname")
    .row
      .input-group
        input.form-control(name="address", type="text", placeholder="Address", ng-model="address")
    .row
      .input-group
        input.form-control(name="zipcode", type="text", placeholder="Zipcode", ng-model="zipcode")
      .input-group
        input.form-control(name="state", type="text", placeholder="State", ng-model="state")
    .row
      .input-group
        input.form-control(name="telephone", type="text", placeholder="Telephone", ng-model="telephone")
    .row
      .input-group
        input.form-control(name="email", type="email", placeholder="Email", ng-model="email")
    .row
      .btn.btn-lg.btn-primary.pull-right(ng-click='update()', type='submit', ng-disabled='form.$invalid') Save
