doctype html
//- //if lt IE 7
//-   html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')
//- //if IE 7
//-   html.no-js.lt-ie9.lt-ie8(lang='')
//- //if IE 8
//-   html.no-js.lt-ie9(lang='')
//- // [if gt IE 8] <!
html.no-js(ng-app="app")
  //- // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title
      |Food Allergies
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
  body
    //- <!--[if lt IE 8]>
    //- p.browsehappy
    //-   | You are using an <strong>outdated</strong> browser.
    //-   | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
    //-   | to improve your experience.
    //- <![endif]-->
    include partials/nav

    .container
      .row
        block content
        
      .row(ng-view)  

      hr
      footer
        p © Company 2015
    //- container
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.2.js"><\/script>')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js')
    script(src='javascripts/plugins.js')
    script(src='javascripts/custom.js')
      
    //-CUSTOM ANGULARJS
    script(src='/client/app.js')
    script(src='/client/controllers/nav.js')
    script(src='/client/controllers/restaurants.js')
    script(src='/client/controllers/accounts/restaurants.js')
    script(src='/client/controllers/accounts/accounts.js')
    script(src='/client/controllers/accounts/users.js')
    script(src='/client/controllers/accounts/registration.js')
    //-Angular Services
    script(src='/client/services/accountService.js')
    script(src='/client/services/httpInterceptor.js')
    //-END CUSTOM ANGULARJS
    
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
