.row(ng-controller='accounts')
  .col-sm-10.col-sm-offset-1
    table.table
      thead
        tr
          th Name
          th Address
          th Email
          th Password Hash
      tbody(ng-repeat='account in accounts')
        tr
          td {{account.name}}
          td {{account.address}}
          td {{account.email}}
          td {{account.password_hash}}
