.col-sm-10.col-sm-offset-1
  div.alert.alert-danger(role="alert", ng-show="invalidData")
    span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
    span.sr-only
    |  Invalid email or password.
  form(name='form', ng-submit='login()', novalidation)
    .form-group
      input.form-control(autofocus, type='email', name='email', placeholder='email', ng-model='form_email' required)
    .form-group
      input.form-control(type='password', name='password' placeholder='password', ng-model='form_password' required)
    .form-group
      button.btn.btn-default.btn-lg.btn-success.pull-right(type='submit', ng-disabled='form.$invalid') Login
