.col-sm-10.col-sm-offset-1
  form(name='form', novalidation)
    .form-group
      input.form-control(type='email', name='email', placeholder='email', ng-model='email' required)
    .form-group
      input.form-control(type='password', name='password' placeholder='password', ng-model='password' ng-minlength='6' required)
      p.help-block(ng-show='form.password.$error.minlength || form.password.$invalid') Password must be at least 6 characters. 
    .form-group
      .btn.btn-success.pull-right(type='submit',  ng-click="createAccount()", ng-disabled='form.$invalid') Sign Up!
