.row
  .cl-xs-6.col-xs-offset-4.col-sm-6.col-sm-offset-4.col-md-6.col-md-offset-4.col-lg-6.col-lg-offset-5
    .btn.btn-lg.btn-success(ng-click="setRestaurantRole()", style="margin-top: 10px; width: 240px; height: 71px; padding: 15px;")
      .glyphicon.glyphicon-cutlery(style="font-size: 32px; padding-top: 5px;")
      span.pull-right(style="font-size: 21px; padding-top: 7px; padding-left: 3px;")  Restaurant Account
.row
  .col-xs-6.col-xs-offset-4.col-sm-6.col-sm-offset-4.col-md-6.col-md-offset-4.col-lg-6.col-lg-offset-5
    .btn.btn-lg.btn-primary(ng-click="setUserRole()", style="margin-top: 10px; width: 240px; height: 71px; padding: 15px; vertical-align: middle")
      .glyphicon.glyphicon-user(style="font-size: 32px; padding-top: 5px;")
      span.pull-right(style="font-size: 21px; padding-top: 7px; margin-left: 15px;")  User Account
